body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  background-color: lightblue;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

input, select, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#akanform {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #e6f7ff;
  border: 1px solid #b3d9ff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#resetButton {
  background-color: rgb(17, 142, 158);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#resetButton:hover {
  background-color: rgb(13, 110, 123);
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

#output {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}